{{ define "main" }}
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<div class = "article-content">
        {{ if isset .Site.Params "description" }}
        <div class="description">
            <p>{{ .Site.Params.Description | markdownify }}</p>
        </div>
        {{ end }}

        <!-- Range over the pages and only include the ones that are a post type -->
        <img src = "/images/sai.png" height="200" width="190" style="float:right; padding: 50px 30px 30px 30px; ">
        
        <div align="justify">    <br><br>
            I am currently a Senior Researcher in the <a href="https://www.microsoft.com/en-us/research/group/autonomous-systems-group-robotics/">Autonomous Systems and Robotics Group</a> at Microsoft where I focus on the development of robust perception-action loops for safe autonomous systems that can be deployed in the real world. Some of my areas of interest are robot autonomy, representation learning, and robust computer vision.<br>
            <br>
            In 2019, received my PhD from the Texas A&M University, where I was part of the Unmanned Systems Lab headed by Srikanth Saripalli. My PhD thesis focused on collaborative localization and uncertainty-aware navigation for groups of micro aerial vehicles. During my PhD, I also worked on applying computer vision and machine learning to autonomous aerial/ground vehicle research, medical robotics, and precision agriculture applications. In the summer of 2016, I interned at NASA Ames Research Center working on unmanned aerial vehicles for subterranean exploration.<br>
            <br>
            Prior to that, I received my MS from the Arizona State University. During these years, as part of the Extreme Environment Robotics Lab, I worked on the design and development of several robotic platforms and sensory networks. One of these robots played a role in the discovery of microbial life in Antarctic subglacial lakes. In 2013, I was an intern in Intel's New Devices team, where I helped build Intel's first biometric headset.
        </div>     
        <br>        
        <div style="width: 100%; overflow: hidden; display:flex">
            <div style="width: 300px; float: left;"> <h3>Research Interests</h3><ul>
                <li><i class="fa-li fa fa-check"></i>Robot Perception and Planning</li>
                <li><i class="fa-li fa fa-check"></i>Representation Learning</li>
                <li><i class="fa-li fa fa-check"></i>Computer Vision</li>
                </ul> </div>

            <div style="width: 500px; float: right"> <h3>Education</h3> <ul class="fa-ul">
                <li><i class="fa-li fa fa-graduation-cap"></i>Ph.D. (Robotics), Texas A&M University -- 2019</li>
                <li><i class="fa-li fa fa-graduation-cap"></i>M.S. (Electrical Engineering), Arizona State University -- 2013</li>
                <li><i class="fa-li fa fa-graduation-cap"></i>B.Tech. (Electrical Engineering), JNTU, India -- 2011</li>
            </ul> </div>
        </div>
        <br>
        <h3>News</h3>
        <div style="text-align: justify">    
            {{ .Content }}
        </div>
        
    </div>

{{ end }}
