{{ define "main" }}
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<div class = "article-content">
        {{ if isset .Site.Params "description" }}
        <div class="description">
            <p>{{ .Site.Params.Description | markdownify }}</p>
        </div>
        {{ end }}
        <!-- Range over the pages and only include the ones that are a post type -->
        <img src = "/images/sai.webp" style="max-width: 30%; object-fit: contain; display: block; float: right; padding: 20px 10px 5px 10px;">
    
        <div align="left">   <br>
            I am the co-founder and CTO of <a href="https://scaledfoundations.ai">General Robotics</a>, an AI research and deployment company building general purpose intelligence for robots of all form factors. <br><br>
            
            Prior to this, I was a Senior Researcher at the <a href="https://www.microsoft.com/en-us/research/group/autonomous-systems-group-robotics/">Autonomous Systems and Robotics Group</a> at Microsoft. My research focused on foundation models for robotics, data-driven simulation, and robust computer vision, and I led engineering efforts behind training large-scale multimodal foundation models. I received my PhD from the Texas A&M University in 2019, where I was part of the Unmanned Systems Lab headed by Prof. Srikanth Saripalli. <br><br>
            
            My primary area of interest is the development of the next generation of robot autonomy that is generalizable, safe, and widely accessible - specifically through compositions of modular skills. Over the course of my career, I have worked on several problem spaces such as robot perception and planning, large scale foundation model training, computer vision, and simulation. <br><br>
        </div>   

        <div style="width: 100%"> <h3>Education</h3> <ul class="fa-ul">
            <li><i class="fa-li fa fa-graduation-cap"></i>Ph.D. (Robotics), Texas A&M University - 2019</li>
            <li><i class="fa-li fa fa-graduation-cap"></i>M.S. (Electrical Engineering), Arizona State University - 2013</li>
            <li><i class="fa-li fa fa-graduation-cap"></i>B.Tech. (Electrical Engineering), JNTU, India - 2011</li>
        </ul> </div>

        <h3>News</h3>
        <div style="text-align: left">    
            {{ .Content }}
        </div>
        
    </div>

{{ end }}
